<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HACKDOC | <%=hospital.name%></title>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/dashboard-user-style.css">
        
</head>
<body>
<div>
    <nav class="navbar  navbar-default  navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="">
        <img src="/images/hackdoc-logo.jpg" width="30" height="25"></a>
        <a class="navbar-brand" id="lol" href="">Hack<b>DOC</b></a> 
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="navbar-collapse justify-content-start collapse in" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link" id="node">Home</a></li>
                <li class="nav-item"><a href="#about" onclick="document.getElementById('modal-wrapper').style.display='block'" class="nav-link" id="node">About</a></li>
                <li class="nav-item"><a href="#contact/to/us" class="nav-link" id="node">Contact</a></li>
            </ul>
            <form action="/search" method="GET" class="navbar-form form-inline" id="sb1">
                <div class="input-group search-box">
                    <input type="text" id="search" class="form-control" placeholder="Search hospital..." name="searchhos" autocomplete="off">
                    <button id="search-button">Search</button>
                    <!-- <a href=""><span class="input-group-addon"><i class="material-icons"></i></span></a> -->
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item">
                    <a  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" id="lop" href="/auth/login" aria-expanded="false" style="text-align: center">Login</a>
                    <a  class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1" id="lop" href="/auth/signup" aria-expanded="false" style="text-align: center">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div id="modal-wrapper" class="modal">
    <form class="modal-content animate" >
        <h3 style="color: red;"> Who Are We</h3><br>
            1. At Hackdoc, we believe there is a better way to have a connection between the Hospitals and Patients.<br> 
            2. Generally, people lose their loved ones or their condition becomes serious just because of being unaware about the current scenario of hospitals.<br>
            3. Using this app, they can know about the currently available facilities within the hospital, like availability of ventilators, beds, ICU wards etc.,  around their locality. <br>
            4. On addition to this, people may also know about the symptoms and cure of the most common diseases. We are curious to help the society through our platform.<br>
        <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
    </form>
</div>


<div id="modal-wrapper1" class="modal">
    <form class="modal-content animate" id="m1">
        <h3 style="color: red;"> Terms and Conditions:</h3>
        <h4> Welcome to HackDoc!</h4>
        By accessing this app we assume you accept these terms and conditions.<br>
        Do not continue to use HackDoc if you do not agree to take all of the terms and conditions stated on this page.<br>
        You may access HackDoc for your own personal use subjected to restrictions set in these terms and conditions.<br><br>
        <h4> Hospital must:</h4>
        ->Be govt. registered. <br>
        ->Register themselves on our app by providing a valid proof.<br>
        ->Provide the absolute information about him/herself as well as about the hospital and treatment.<br>
        ->Update the provided information regulerly.<br><br>
        <h4>Users should not:</h4>
        ->Misuse the information from HackDoc.<br>
        ->Reproduce, duplicate or copy material from HackDoc.<br><br>
        <h4>Content Liability:</h4>
        We shall not be hold responsible for any content that appears on the app, as it would be as per provided by the hospital's authorities.<br>
        As it is related to health, We recommend you to verify the information provided from any of the reliable resource(may be a family doctor or someone else) before recommending to others and also using for their own.<br><br>
        <h4>Disclaimer:</h4>
        To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our app, and the use of this app. Nothing in this disclaimer would be:
        <br>
        ->responsible for your any personal injury;
        <br>
        ->responsible for fraud or fraudulent misrepresentation;
        <br>
        As long as the app and the information and services are provided free of charge, we will not be responsible for any loss or damage of any nature.
        <br><br>
        <span onclick="document.getElementById('modal-wrapper1').style.display='none'" class="close" title="Close PopUp">&times;</span>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="heading"></div>
    </div>
</div>

<div class="container"> 
    <div class="row">
        <div class="col-md-6 col-sm-12" id="rr1" >
           <div class="container" id="medical-logo" > </div>
        </div>
        <div class="col-md-6 col-sm-12" id="r1">
            <div class="container" id="gen-info">
                <p id="p1">General Information</p>
                <p id="p2"><%=hospital.name%></p>
                <p id="p3"><b>Address : </b><%=hospital.address%></p>
                <p id="p4"><b>Contact-1 : </b><%=hospital.contact1%></p>
                <p id="p4"><b>Contact-2 : </b><%=hospital.contact2%></p>
          </div>
        </div>

    </div>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-xl-6 col-lg-12" id="r1" >
           <div class="container" id="gen-info" >
                <p id="p1">Facilities Available</p>
                <table>
                    <tr>
                        <th>Facility</th>
                        <th>Status</th>
                    </tr>
                    <%for(let i=0;i<hospital.facility.length;i++){%>
                        <%if(i%2!=0){%>
                            <tr class="active-row">
                                <%if(i==1){%> <td>CT SCAN</td> <%}%>
                                <%if(i==3){%> <td>AMBULANCE</td> <%}%>
                                <%if(hospital.facility[i].length==3){%> <td>Yes</td><%}
                                else{%> <td>No</td> <%}%>
                            </tr>
                        <%}else{%>
                            <tr>
                                <%if(i==0){%> <td>ICU</td> <%}%>
                                <%if(i==2){%> <td>PHARMACY</td> <%}%>
                                <%if(i==4){%> <td>BLOOD BANK</td> <%}%>
                                <%if(hospital.facility[i].length==3){%> <td>Yes</td><%}
                                else{%> <td>No</td> <%}%>
                            </tr>
                        <%}%>
                    <%}%>
                </table>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12" id="r1">
            <div class="container" id="gen-info">
                <p id="p1">Availability of Doctors</p>
                <table>
                    <tr>
                        <th>Dept.</th>
                        <th>Status</th>
                    </tr>
                    <%for(let i=0;i<hospital.docavail.length;i++){%>
                        <%if(i%2!=0){%>
                          <tr class="active-row">
                              <%if(i==1){%> <td> NEUROLOGIST </td> <%}%>
                              <%if(i==3){%> <td> SKIN INFECTIONS </td> <%}%>
                              <%if(hospital.docavail[i].length==3){%> <td>Yes</td><%}
                              else{%> <td>No</td> <%}%>
                        </tr>
                        <%}else{%>
                            <tr>
                                <%if(i==0){%> <td> PHYSICIAN </td> <%}%>
                                <%if(i==2){%> <td> CARDIOLOGIST </td> <%}%>
                                <%if(i==4){%> <td> PHYSIOTHERAPIST </td> <%}%>
                                <%if(hospital.docavail[i].length==3){%> <td>Yes</td><%}
                                else{%> <td>No</td> <%}%>
                            </tr>
                        <%}%>
                    <%}%>
                </table>
          </div>
        </div>

    </div>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-xl-6 col-lg-12" id="r2" >
           <div class="container" id="gen-info" >
                <p id="p1">Availability of Blood</p>
                <table>
                    <tr>
                        <th>Blood Group</th>
                        <th>Units</th>
                        <th>Blood Group</th>
                        <th>Units</th>
                    </tr>
                    <%for(let i=0;i<hospital.bloodavail1.length;i++){%>
                        
                        <tr>
                        <%if(i==0){%>
                            <td>
                                A-
                            </td>
                            <td>
                                <%=hospital.bloodavail1[i]%>
                            </td>
                            <td>
                                A+
                            </td>
                            <td>
                                <%=hospital.bloodavail2[i]%>
                            </td>
                        <%}%>
                        <%if(i==1){%>
                            <td>
                                B-
                            </td>
                            <td>
                                <%=hospital.bloodavail1[i]%>
                            </td>
                            <td>
                                B+
                            </td>
                            <td>
                                <%=hospital.bloodavail2[i]%>
                            </td>
                        <%}%>
                        <%if(i==2){%>
                            <td>
                               O-
                            </td>
                            <td>
                                <%=hospital.bloodavail1[i]%>
                            </td>
                            <td>
                                O+
                            </td>
                            <td>
                                <%=hospital.bloodavail2[i]%>
                            </td>
                        <%}%>
                        <%if(i==3){%>
                            <td>
                                AB-
                            </td>
                            <td>
                                <%=hospital.bloodavail1[i]%>
                            </td>
                            <td>
                                AB+
                            </td>
                            <td>
                                <%=hospital.bloodavail2[i]%>
                            </td>
                        <%}%>
                     </tr>
                    <%}%>
                </table>
            </div>
        </div>

        <div class="col-xl-6 col-lg-12" id="r2">
            <div class="container" id="gen-info">
                <p id="p1">Availability of Beds</p>
                <table>
                    <tr>
                        <th>Department</th>
                        <th>Total Bed</th>
                        <th>Available Bed</th>
                    </tr>
                    <%for(let i=0;i<hospital.bedavail1.length;i++){%>
                        <tr>
                        <td>
                            <%if(i==0){%>
                                ICU
                            <%}%>
                            <%if(i==1){%>
                                GENERAL
                            <%}%>
                            <%if(i==2){%>
                                COVID-19
                            <%}%>
                        </td>
                        <td>
                            <%=hospital.bedavail1[i]%>
                        </td>
                        <td>
                            <%=hospital.bedavail2[i]%>
                        </td>
                        </tr>
                    <%}%>
                </table>
          </div>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>

<footer class="footer1" id="contact/to/us">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <a href="/team" style="color: white;"><i class="fa fa-users" aria-hidden="true"></i> Visit us </a>
               </div>
               <div class="col-xl-4">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hackdoc18@gmail.com&su=SUBJECT&body=BODY" style="color: white;"><i class="fa fa-envelope" aria-hidden="false" style="color: white;"></i> Mail us for any query</a>
               </div>
               <div class="col-xl-4">
                <a href="#terms&conditions" onclick="document.getElementById('modal-wrapper1').style.display='block'" style="color: white;">Terms &amp; Conditions</a>
               </div>
        </div>
    </div>
</footer>
<footer class="footer2">
    <div class="container">
        <div class="row">
            <div class=" col-xl-12">
                Copyright © 2020 <a href="/team" style="text-decoration: none; color:red;">unknown_bits</a>
             </div>
        </div>
    </div>
 </footer>
  <script src="/js/homepage.js"></script>

</body>
</html>